$tabbar-hamburger-icon-top: rem-calc(16);
$tabbar-height: rem-calc(65);

$topbar-height: 65px;
$topbar-link-font-size: rem-calc(15);


/* .off-canvas-wrap, .inner-wrap {
    min-height: 100%;
}

.off-canvas-wrap{  
    height: 100%;
    overflow-y: auto;
} 

.off-canvas-wrap {
  .inner-wrap{
    min-height: 50vh;
  }
}

*/

/* fix it to the top of the screen */

