mixin clipoftheweek
	div.small-12.medium-12.large-12.label
		h2.clip-of-the-week Clip of the Week:
		//- h4.clip-of-the-week <a href="dining-entertainment-saturday.html#clip-of-the-week">New Years Eve @ Avila Beach Hotel</a>
		h4.clip-of-the-week <a href="activities-aqua.html#clip-of-the-week">Fuikdag 2017 @ Fuik Baai</a>