mixin clipoftheweek
	div.small-12.medium-12.large-12.label
		h2.clip-of-the-week Clip of the Week:
		h4.clip-of-the-week <a href="dining-entertainment-wednesday.html#clip-of-the-week">Unplugged Beach Sessions w/ Plane @ Zanzibar</a>
		//- h4.clip-of-the-week <a href="activities-artnculture.html#clip-of-the-week">Full Moon Party ft. Natsuj, Krokzz, More @ Kokomo Beach</a>