mixin clipoftheweek
	div.small-12.medium-12.large-12.label
		h2.clip-of-the-week Clip of the Week:
		h4.clip-of-the-week <a href="dining-entertainment-friday.html#clip-of-the-week">27 Live Acoustic: Douwe Bob @ 27 Bar &amp; Terrace</a>
		//- h4.clip-of-the-week <a href="activities-aqua.html#clip-of-the-week">27 Live Acoustic: Douwe Bob @ 27 Bar &amp; Terrace</a>