include movies

section#the-movies-section.row.bottom-space(data-magellan-destination="the-movies-section")
	// movies callout
	.small-12.medium-12.large-12.callout.panel
		h3.text-center Now playing at
		<img class="displayed" src="assets/img/logos/movieslogocolor-133x100.gif" height="100" width="133" alt="The Movies Curaçao">
		h2.text-center
			strong
				em The Movies Curaçao
		h3.text-center Plaza Mundo Merced, Waaigat.<br><br>&#9742; +599 9 462 2209
	// end movies callout
	// add movies here
	//-		+movie-left-image('Mechanic: Resurrection', 'Movies', 'PG', '#kubomovies', 'kubomovies','p4-6qJzeb3A')
	//-		+movie-left-image('Kubo and the two Strings', 'Movies', 'PG', '#kubomovies', 'kubomovies','p4-6qJzeb3A')
	//-		+movie-left-image('Bazodee', 'Movies', 'PG', '#kubomovies', 'kubomovies','p4-6qJzeb3A')
	+movie-left-image('Monster Trucks', 'Movies', 'PG', '#monstertrucksmovies', 'monstertrucksmovies','Y8u3iPjKBBY', '3D')
	+movie-left-image('Underworld: Blood Wars', 'Movies', 'PG13', '#underworldmovies', 'underworldmovies','a2m6Jvp0bUw' ,'3D')
	+movie-left-image('Fences', 'Movies', 'PG13', '#fencesmovies', 'fencesmovies','a2m6Jvp0bUw')
	+movie-left-image('Assassin’s Creed', 'Movies', 'PG13', '#assassinscreedmovies', 'assassinscreedmovies','4haJD6W136c', '3D')
	+movie-left-image('Sing', 'Movies', 'PG13', '#singmovies', 'singmovies','Y7uGHY-t80I')
	+movie-left-image('MOANA', 'Movies', 'PG', '#moanamovies', 'moanamovies','LKFuXETZUsI')
	+movie-left-image('The Bounce Back', 'Movies', 'PG13', '#bouncebackmovies', 'bouncebackmovies','0pdqf4P9MB8')
	+movie-left-image('La La Land', 'Movies', 'PG13', '#lalalandmovies', 'lalalandmovies','0pdqf4P9MB8')
	+movie-left-image('Office Christmas Party', 'Movies', 'PG13', '#officemovies', 'officemovies','z4PHjxRiT2I')
	//- +movie-left-image('Sully', 'Movies', 'R', '#sullymovies', 'sullymovies','mjKEXxO2KNE')
	//-		+movie-left-image('Incarnate', 'Movies', 'PG13', '#incarnatemovies', 'incarnatemovies','SF8WPk6_CbQ')
	//-		+movie-left-image('Almost Christmas', 'Movies', 'PG13', '#almostchristmasmovies', 'almostchristmasmovies','-mw-Rhm8OIw')
	//-		+movie-left-image('Bad Santa 2', 'Movies', 'R', '#badsantamovies', 'badsantamovies','fgegJL_UZ7c')
	//-		+movie-left-image('TROLLS', 'Movies', 'PG', '#trollsmovies', 'trollsmovies','xyjm5VQ11TQ')
	//-		+movie-left-image('Fantastic Beasts & Where To FInd Them', 'Movies', 'PG13', '#fantasticbeastsmovies', 'fantasticbeastsmovies','Vso5o11LuGU', '3D')
	//-		+movie-left-image('LION', 'Movies', 'PG13', '#lionmovies', 'lionmovies','RNI9o06vqo')
	//-		+movie-left-image('Arrival', 'Movies', 'PG13', '#arrivalmovies', 'arrivalmovies','tFMo3UJ4B4g')
	//-		+movie-left-image('De Club van Sinterklaas & Geblaf op de Pakjesboot', 'Movies', 'PG', '#sinmovies', 'sinmovies','eQqtKmZnCH4')
	//-		+movie-left-image('Loving', 'Movies', 'PG13', '#lovingmovies', 'lovingmovies','33g-ZHBQdNU')
	//-		+movie-left-image('Boo! A Madea HAlloween', 'Movies', 'PG13', '#boomadeamovies', 'boomadeamovies','-sPHseSGr9Q')
	//-		+movie-left-image('Marvel\'s Doctor Strange', 'Movies', 'PG13', '#strangemovies', 'strangemovies','HSzx-zryEgM')
	//-		+movie-left-image('Jack Reacher: Never Go Back', 'Movies', 'PG13', '#jackreacher2movies', 'jackreacher2movies','aRwrdbcAh2s')
	//-		+movie-left-image('PROOI', 'Movies', 'AL', '#prooimovies', 'prooimovies','6b8GjYDG020')
	//-		+movie-left-image('Ouija: Origin of Evil', 'Movies', 'PG13', '#ouijamovies', 'ouijamovies','MJIcZGEjjwo')
	//-		+movie-left-image('The Accountant', 'Movies', 'R', '#accountantmovies', 'accountantmovies','DBfsgcswlYQ')
	//-		+movie-left-image('Storks', 'Movies', 'PG13', '#storksmovies', 'storksmovies','ZENmkJk9fBM')
	//-		+movie-left-image('Deepwater Horizon', 'Movies', 'PG13', '#deepwatermovies', 'deepwatermovies','8yASbM8M2vg')
	//-		+movie-left-image('The girl on the Train', 'Movies', 'PG13', '#girltrainmovies', 'girltrainmovies','KkoEE1i0CX8')
	//-	+movie-left-image('Miss Peregrine’s Home to Peculiar Children', 'Movies', 'PG13', '#peregrinemovies', 'peregrinemovies','tV_IhWE4LP0')
	//-	+movie-left-image('The Magnificent Seven', 'Movies', 'PG13', '#magsevencinemas', 'magsevencinemas','q-RBA0xoaWU')
	//-	+movie-left-image('When The Bough Breaks', 'Movies', 'PG13', '#boughmovies', 'boughmovies','Ws74Ie4fMc8')
	//-		+movie-left-image('Mechanic: Resurrection', 'Movies', 'R', '#mechanicmocies', 'mechanicmocies','G-P3f_wDXvs')
	//-		+movie-left-image('Pete’s Dragon', 'Movies', 'PG', '#dragonmovies', 'dragonmovies','fPOamb6d_20')
	//-		+movie-left-image('The Magnificent Seven', 'Movies', 'PG13', '#magsevenmovies', 'magsevenmovies','q-RBA0xoaWU')
	//-		+movie-left-image('Blood Father', 'Movies', 'R', '#bloodfmovies', 'bloodfmovies','hgl-xVubsjI')
	//-		+movie-left-image('Bazodee', 'Movies', 'PG13', '#bazodeemovies', 'bazodeemovies','3a-wKnRx1Y0')
	//-		+movie-left-image('Blair Witch', 'Movies', 'R', '#blairwitchmovies', 'blairwitchmovies','girSv9UH_V8')
	//-		+movie-left-image('Don’t Breathe', 'Movies', 'PG', '#breathemovies', 'breathemovies','S8XwWwPT8LE')
	//-		+movie-left-image('Kubo and the two Strings', 'Movies', 'PG', '#kubomovies', 'kubomovies','p4-6qJzeb3A')
	//-		+movie-left-image('Jason Bourne', 'Movies', 'PG13', '#jasonbournemovies', 'jasonbournemovies','F4gJsKZvqE4')
	//-		+movie-left-image('Mike & Dave Need Wedding Dates', 'Movies', 'PG13', '#mikendavemovies', 'mikendavemovies','SrVI24feJoA')
	//-	+movie-left-image('Ghostbusters', 'Movies', 'PG13', '#ghostbustersmovies', 'ghostbustersmovies','w3ugHP-yZXw')
	//-		+movie-left-image('The BFG', 'Movies', 'PG', '#bfgmovies', 'bfgmovies','VG5MtenlP-A')
	//-		+movie-left-image('Morgan', 'Movies', 'R', '#morganmovies', 'morganmovies','rWlJqsF_WVw')
	//-		+movie-left-image('Sausage Party', 'Movies', 'PG13', '#sausagepartymovies', 'sausagepartymovies','9VoNgLnjzVg')
	//-	+movie-left-image('SKIPTRACE', 'Movies', 'PG13', '#skiptracemovies', 'skiptracemovies','6gOtiia_ypA')
	//-	+movie-left-image('Nerve', 'Movies', 'PG13', '#nervemovies', 'nervemovies','2PR9MOPTI7g')
	//-		+movie-left-image('Meester Kikker', 'Movies', 'PG', '#kikkermovies', 'kikkermovies','6Tu0M0XKQMU')
	//-		+movie-left-image('Lights Out', 'Movies', 'PG13', '#lightsoutmovies', 'lightsoutmovies','6LiKKFZyhRU')
	//-		+movie-left-image('Ice Age: Collision Course', 'Movies', 'PG', '#iceagemovies', 'iceagemovies','Ohq6NmKMja8')
	//-	+movie-left-image('Finding Dory', 'Movies', 'PG13', '#dorymovies', 'dorymovies','KyA9AtUOqRM', '3D')
	//- 	+movie-left-image('The Secret Life of Pets', 'Movies', 'PG', '#petsmovies', 'petsmovies','eWI_Jsw9qUs')
	//- 		+movie-left-image('The Purge: Election Year', 'Movies', 'R', '#thepurgemovies', 'thepurgemovies','RXMp9fBomJw')
	//- 	+movie-left-image('Central Intelligence', 'Movies', 'PG13', '#cimovies', 'cimovies','MxEw3elSJ8M')
	//- 	+movie-left-image('THE SHALLOWS', 'Movies', 'PG13', '#shallowsmovies', 'shallowsmovies','EgdxIlSuB70')
	//- 	+movie-left-image('INDEPENDENCE DAY: RESURGENCE', 'Movies', 'PG13', '#id5movies', 'id5movies','RfJgT89hEME')
	//- 		+movie-left-image('Now You See Me 2', 'Movies', 'PG13', '#nowyouseeme2movies', 'nowyouseeme2movies','InqU8CLwbPg')
	//- 		+movie-left-image('The Angry Birds Movie', 'Movies', 'PG', '#angrybirdsmovies', 'angrybirdsmovies','QRmKa7vvct4')
	//- 	+movie-left-image('The Conjuring 2: The Enfield Poltergeist', 'Movies', 'R', '#conjuring2movies', 'conjuring2movies','KyA9AtUOqRM')
	//- 	+movie-left-image('Bastille Day', 'Movies', 'R', '#bastillemovies', 'bastillemovies','U5R0bI8EJCQ')
	//- 	+movie-left-image('Now You See Me 2', 'Movies', 'PG13', '#nowyouseememovies', 'nowyouseememovies','InqU8CLwbPg')
	//- 		+movie-left-image('Teenage Mutant Ninja Turtles: Out of the Shadows', 'Movies', 'PG13', '#tmntmovies', 'tmntmovies','3CKgLNGfdSM')
	//- +movie-left-image('Warcraft', 'Movies', 'PG13', '#warcraftmemovies', 'warcraftmemovies','RhFMIRuHAL4')
	//-		+movie-left-image('Alice Through the Looking Glass', 'Movies', 'PG', '#alicemovies', 'alicemovies','JCn471btU-k')
	//-		+movie-left-image('The Jungle Book', 'Movies', 'PG', '#junglebookmovies', 'junglebookmovies','5mkm22yO-bs')
	//-		+movie-left-image('X-Men: Apocalypse', 'Movies', 'R', '#xmenmovies', 'xmenmovies','KjEusWO6VPg')
	//-		+movie-left-image('The Nice Guys', 'Movies', 'R', '#niceguysmovies', 'niceguysmovies','z-_HQ0bUzS8')
	//-		+movie-left-image('Neighbors 2: Sorority Rising', 'Movies', 'R', '#neigbors2movies', 'neigbors2movies','X2i9Zz_AqTg')
	//-		+movie-left-image('Captain America: Civil War', 'Movies', 'PG13', '#captainamericamovies', 'captainamericamovies','uVdV-lxRPFo')
	//-		+movie-left-image('Absolutely Fabulous: The Movie', 'Movies', 'PG', '#absolutelyfabmovies', 'absolutelyfabmovies','Dj3ZWhlmexw')
	//-		+movie-left-image('Criminal', 'Movies', 'PG', '#criminalmovies', 'criminalmovies','JNfRQ4NBjUU')
	//-		+movie-left-image('Keanu', 'Movies', 'R', '#keanumovies', 'keanumovies','Jer8XjMrUB4')
	//-		+movie-left-image('Barbershop: The NExt Cut', 'Movies', 'PG', '#barbershopmovies', 'barbershopmovies','l2vPDGStL4k')
	//-		+movie-left-image('The boss', 'Movies', 'R', '#bossmovies', 'bossmovies','V8GAMZqJqjs')
	//-		+movie-left-image('London Has Fallen', 'Movies', 'R', '#londonmovies', 'londonmovies','q9y3z-lx-ZE')
	//-		+movie-left-image('Dirty Grandpa', 'Movies', 'R', '#dirtygranpamovies', 'dirtygranpamovies','aZSzMIFZT7Q')
	//-		+movie-left-image('Batman Vs Superman: Dawn of Justice', 'Movies', 'PG13', '#batmansupermanmovies', 'batmansupermanmovies','BvP4RIqSbiw')
	//-		+movie-left-image('The Divergent Series: Allegiant', 'Movies', 'PG13', '#allegiantmovies', 'allegiantmovies','0G0C-vMHcQY')
	//-		+movie-left-image('Capture the Flag', 'Movies', 'PG', '#capturetheflagmovies', 'capturetheflagmovies','F760V738Dps')
	//-		+movie-left-image('My Big Fat Greek Wedding 2', 'Movies', 'PG13', '#greekweddingmovies', 'greekweddingmovies','JQ-1Ts3BChM')
	//-		+movie-left-image('ZOOTOPIA', 'Movies', 'PG-13', '#zootopiamovies', 'zootopiamovies','bY73vFGhSVk')
	//-		+movie-left-image('Kapoor & Sons', 'Movies', 'PG', '#kapoormovies', 'kapoormovies','s7YYt9_KfsM')
	//-		+movie-left-image('The Brothers Grimsby', 'Movies', 'R', '#grimsbymovies', 'grimsbymovies','_YtclB_02wA')
	//-		+movie-left-image('The Other Side of the Door', 'Movies', 'R', '#otherdoormovies', 'otherdoormovies','hMI6bGS97lk')
	//-	+movie-left-image('Race', 'Movies', 'PG-13', '#racemovies', 'racemovies','E31LnSw47xo')
	//-		+movie-left-image('Triple 9', 'Movies', 'R', '#triple9movies', 'triple9movies','JzUtr5sjRvU')
	//-	+movie-left-image('Risen', 'Movies', 'PG-13', '#risenmovies', 'risenmovies','ucUbAAMEF8M')
	//-	+movie-left-image('Zoolander 2', 'Movies', 'PG-13', '#zoolandermovies', 'zoolandermovies','4CL4LNWHegk')
	//-	+movie-left-image('Norm of North', 'Movies', 'PG', '#normmovies', 'normmovies','u8A_F5oYJGI')
	//-	+movie-left-image('Fifty Shades of Black', 'Movies', 'PG-13', '#fiftyshadesofblackmovies', 'fiftyshadesofblackmovies','J1pOTTcdRO8')
	//-		+movie-left-image('Bon Bini Holland', 'Movies', 'PG-13', '#bonbinihollandmovies', 'bonbinihollandmovies','DcAfAYbgoEY')
	//-	+movie-left-image('Kung Fu Panda 3', 'Movies', 'PG', '#kungfupandamovies', 'kungfupandamovies','10r9ozshGVE', '3D')
	//-	+movie-left-image('The Boy', 'Movies', 'PG-13', '#theboymovies', 'theboymovies','X1U21VBSbSs')
	//-		+movie-left-image('Pride and Prejudice and Zombies', 'Movies', 'PG', '#prideandprejudicemovies', 'prideandprejudicemovies','foGraEVNI0s')
	//-		+movie-left-image('Ride Along 2', 'Movies', 'PG-13', '#ridealongmovies', 'ridealongmovies','iWfmmwdCHTg')
	//-	+movie-left-image('The Revenant', 'Movies', 'PG-13', '#revenantmovies', 'revenantmovies','QRfj1VCg16Y')
	//- 	+movie-left-image('Wazir', 'Movies', 'PG-13', '#wazirmovies', 'wazirmovies','gdwM7xKOph0')
	//- 	+movie-left-image('Fashion Chicks', 'Movies', 'PG', '#fashionchicksmovies', 'fashionchicksmovies','V13himukCQ4')
	//- 	+movie-left-image('Point Break', 'Movies', 'PG-13', '#pointbreak2dmovies', 'pointbreak2dmovies','ncvFAm4kYCo', '3D')
	//- 	+movie-left-image('Daddy’s Home', 'Movies', 'PG', '#daddyshomemovies', 'daddyshomemovies','OeknNwE4e1E')
	//- 	+movie-left-image('Alvin & The Chimunks: The Road Chip', 'Movies', 'PG', '#chipmunksmovies', 'chipmunksmovies','DZTcc1JfFvI')
	//- 	+movie-left-image('Star Wars: Episode VII: The Force Awakens', 'Movies', 'PG-13', '#swep7movies2', 'swep7movies2','sGbxmsDFVnE')
	//- 	+movie-left-image('Keet &amp; Koen en de Speurtocht naar Bassie &amp; Adriaan', 'Movies', 'PG', '#keetkoenmovies', 'keetkoenmovies','FbfHHdzwVOk')
	//- 	+movie-left-image('Dilwale', 'Movies', 'PG', '#dilwalemovies', 'dilwalemovies','AHuOo1DLcRc')
	//- 	+movie-left-image('Criminal Activities', 'The Movies', 'R', '#criminalactmovies', 'criminalactmovies','wM6HGsEwFM8')
	//- 	+movie-left-image('The Night Before', 'The Movies', 'R', '#nightbeforemovies', 'nightbeforemovies','As1zja2shsA')
	//- +movie-left-image('Star Wars: Episode VII: The Force Awakens', 'Movies', 'PG-13', '#swep7movies', 'swep7movies','sGbxmsDFVnE')
	//-		+movie-left-image('Ja, Ik Wil)', 'The Movies', 'PG-13', '#jaikwilmovies', 'jaikwilmovies','MxDLzxsi-Fc')
	//-		+movie-left-image('The Good Dinosaur 3D', 'The Movies', 'PG-13', '#gooddinomovies3d', 'gooddinomovies3d','O-RgquKVTPE', 	//-		+movie-left-image('The Good Dinosaur', 'The Movies', 'PG-13', '#gooddinomovies', 'gooddinomovies','O-RgquKVTPE')
	//-		+movie-left-image('Krampus', 'The Movies', 'PG-13', '#krampus2dmovies', 'krampus2dmovies','h6cVyoMH4QE')
	//-		+movie-left-image('The Good Dinosaur', 'The Movies', 'PG-13', '#gooddinomovies2d', 'gooddinomovies2d','O-RgquKVTPE')
	//-		+movie-left-image('The Hunger Games: Mockingjay Pt. 2 3D', 'The Movies', 'PG-13', '#mockingjay-movies', 'mockingjay-movies','n-7K_OjsDCQ', '3D')
	//-		+movie-left-image('Tula: The Revolt', 'The Movies', 'PG-13', '#tulamovies', 'tulamovies','hcggssXefqc')
	//-		+movie-left-image('Our Brand is Crisis', 'The Movies', 'R', '#our-brand-is-crisis-movies', 'our-brand-is-crisis-movies','BLZo_ILZhfk')
	//-	+movie-left-image('The Peanuts Movie 3D', 'The Movies', 'G', '#peanutsmovies3d', 'peanutsmovies3d','fVR4E6Q6u5g', '3D')
	//-	+movie-left-image('The Peanuts Movie', 'The Movies', 'G', '#peanutsmovies', 'peanutsmovies','fVR4E6Q6u5g')
	//-	+movie-left-image(title, venue, rating, panel_id, trailer_id, dimension)	+movie-left-image('Goosebumps', 'The Movies', 'PG-13', '#goosebumpsmovies', 'goosebumpsmovies','7Cn716jv61s')
	//-	+movie-left-image('Paranormal Activity: The Ghost Dimension 3D', 'The Movies', 'R', '#ghostdimension3dmovies', 'ghostdimension3dmovies', 'Y9Jy2T0uQ9Y', '3D')
	//-	+movie-left-image('Paranormal Activity: The Ghost Dimension', 'The Movies', 'R', '#ghostdimensionmovies', 'ghostdimensionmovies','Y9Jy2T0uQ9Y')
	//- +movie-left-image('War Room', 'The Movies', 'PG', 'mIl-XY9t_Lw')
	//- +movie-left-image('The Martian', 'The Movies', 'PG-13', 'Ue4PCI0NamI')
	//- +movie-left-image('De Sneeuw Koningin 2', 'The Movies', 'PG', 'tQvsSFLE5Ug')
	//- +movie-left-image('Sicario', 'The Movies', 'R', 'sR0SDT2GeFg')
	//- +movie-left-image('Hotel Transylvania 2 3D', 'The Movies', 'PG-13', 'T3nqmGgnJe8', '3D')
	//- +movie-left-image('Maze Runner: The Scorch Trials', 'The Movies', 'PG-13', '64-iSYVmMVY')
	//- +movie-left-image('The Visit', 'The Movies', 'PG-13', 'YfQnRjkuvaY')
	//- +movie-left-image('Ant-Man 3D', 'The Movies', 'PG-13', 'IEVE3KSKQ0o', '3D')
	//- +movie-left-image('Sinister 2', 'The Movies', 'R', 'fChx_YZUAR0')
	//- +movie-left-image('No Escape', 'The Movies', 'R', 'DOjj07EuO50')
	//- 	+movie-left-image('Fantastic Four', 'The Movies', 'PG-13', 'wuV4BCYv-YY')
	//- 	+movie-left-image('Dark Places', 'The Movies', 'R', 'SpG5dWV7piw')
// end movies section
// begin cinemas section
section#the-cinemas-section.row.bottom-space(data-magellan-destination="the-cinemas-section")
	// cinemas callout
	.small-12.medium-12.large-12.callout.panel
		h3.text-center Now playing at
		<img class="displayed" src="assets/img/logos/the-cinemas-logo-212x100.gif" height="100" width="212" alt="The Cinemas Curaçao">
		h2.text-center
			strong
				em The Cinemas Curaçao
		h3.text-center Renaissance Building in Otrobanda.<br><br>&#9742; +599 9 435 5170
	// end cinemas callout
	// add movies here
	+movie-left-image('The Bye Bye Man', 'Cinemas', 'R', '#byebyecinemas', 'byebyecinemas','ZGdOnCiQRpQ')
	+movie-left-image('Assassin’s Creed', 'Cinemas', 'PG13', '#assassinscreedcinemas', 'assassinscreedcinemas','4haJD6W136c', '4D')
	+movie-left-image('Sing', 'Cinemas', 'PG13', '#singcinemas', 'singcinemas','Y7uGHY-t80I')
	+movie-left-image('Collateral Beauty', 'Cinemas', 'PG13', '#collateralbeautycinemas', 'collateralbeautycinemas','isQ5Ycie73U')
	+movie-left-image('Passengers', 'Cinemas', 'PG13', '#passengerscinemas', 'passengerscinemas','7BWWWQzTpNU')
	+movie-left-image('Why Him?', 'Cinemas', 'R', '#whyhimcinemas', 'whyhimcinemas','CO6qLC4cL8E')
	+movie-left-image('MOANA', 'Cinemas', 'PG', '#moanamovies', 'moanamovies','LKFuXETZUsI')
	+movie-left-image('Mees Kees Langs de Lijn', 'Cinemas', 'G', '#meescinemas', 'meescinemas','YN5SwwwSyNg')
	+movie-left-image('The Bounce Back', 'Movies', 'PG13', '#bouncebackcinemas', 'bouncebackcinemas','H1oF7bLKBEc')
	//- +movie-left-image('Office Christmas Party', 'Cinemas', 'PG13', '#officexmascinemas', 'officexmascinemas','z4PHjxRiT2I')
	//- +movie-left-image('Rogue one: A Star Wars Story', 'Cinemas', 'PG13', '#rogueonecinemas', 'rogueonecinemas','frdj1zb9sMY')
	//- 	+movie-left-image('Sully', 'Cinemas', 'PG13', '#sullycinemas', 'sullycinemas','mjKEXxO2KNE')
	//- 	+movie-left-image('Nocturnal Animals', 'Cinemas', 'R', '#nocturnalanimalscinemas', 'nocturnalanimalscinemas','-H1Ii1LjyFU')
	//- 	+movie-left-image('ALLIED', 'Cinemas', 'PG13', '#alliedcinemas', 'alliedcinemas','Jlp94-C31cY')
	//- 	+movie-left-image('Hacksaw Ridge', 'Cinemas', 'PG13', '#hacksawridgecinemas', 'hacksawridgecinemas','9BqgHYLvHIE')
	//- 	+movie-left-image('Arrival', 'Cinemas', 'PG13', '#arrivalcinemas', 'arrivalcinemas','tFMo3UJ4B4g')
	//- 	+movie-left-image('Marvel\'s Doctor Strange', 'Cinemas', 'PG13', '#doctorstrangecinemas', 'doctorstrangecinemas','xyjm5VQ11TQ', '3D')
	//- 	+movie-left-image('Boo! A Madea HAlloween', 'Cinemas', 'PG13', '#boomadeacinemas', 'boomadeacinemas','-sPHseSGr9Q')
	//- 	+movie-left-image('De Club van Sinterklaas & Geblaf op de Pakjesboot', 'Cinemas', 'PG', '#sincinemas', 'sincinemas','eQqtKmZnCH4')
	//- 	+movie-left-image('Jack Reacher: Never Go Back', 'Cinemas', 'PG13', '#jackreacher2cinemas', 'jackreacher2cinemas','aRwrdbcAh2s')
	//- 	+movie-left-image('Dog Eat Dog', 'Cinemas', 'R', '#dogeatdogcinemas', 'dogeatdogcinemas','Pt0FkSTyffs')
	//- 	+movie-left-image('TROLLS', 'Cinemas', 'PG', '#trollscinemas', 'trollscinemas','xyjm5VQ11TQ', '4D')
	//- 	+movie-left-image('American Pastoral', 'Cinemas', 'R', '#pastoralcinemas', 'pastoralcinemas','SAAqiO_Z9Vs')
	//- 	+movie-left-image('QUEEN OF KATWE', 'Cinemas', 'PG', '#katwecinemas', 'katwecinemas','z4l3-_yub5A')
	//- 	+movie-left-image('INFERNO', 'Cinemas', 'PG13', '#infernocinemas', 'infernocinemas','RH2BD49sEZI')
	//- 	+movie-left-image('The Accountant', 'Cinemas', 'R', '#accountantcinemas', 'accountantcinemas','DBfsgcswlYQ')
	//- 	+movie-left-image('Deepwater Horizon', 'Cinemas', 'PG13', '#deepwatercinemas', 'deepwatercinemas','8yASbM8M2vg', '4D')
	//- 	+movie-left-image('Keeping Up With The Joneses', 'Cinemas', 'PG13', '#keepingupjonesescinemas', 'keepingupjonesescinemas','nPfYXXg65qA')
	//- 	+movie-left-image('The Girl on the Train', 'Cinemas', 'PG13', '#girlontraincinemas', 'girlontraincinemas','KkoEE1i0CX8')
	//- 	+movie-left-image('Storks', 'Cinemas', 'PG13', '#storkscinemas', 'storkscinemas','ZENmkJk9fBM')
	//-	+movie-left-image('When The Bough Breaks', 'Cinemas', 'PG13', '#boughcinemas', 'boughcinemas','Ws74Ie4fMc8')
	//- 	+movie-left-image('The Magnificent Seven', 'Cinemas', 'PG13', '#magsevencinemas', 'magsevencinemas','q-RBA0xoaWU')
	//- 	+movie-left-image('Havana Moon in Cuba', 'Cinemas', 'PG13', '#havanacinemas', 'havanacinemas','hE-FYOt0jmo')
	//- 	+movie-left-image('Bridget Jones`s Baby', 'Cinemas', 'R', '#bloodcinemas', 'bloodcinemas','hgl-xVubsjI')
	//- 	+movie-left-image('Blood Father', 'Movies', 'R', '#bloodcinemas', 'bloodcinemas','hgl-xVubsjI')
	//- 	+movie-left-image('Blair Witch', 'Cinemas', 'R', '#blairwitchcinemas', 'blairwitchcinemas','girSv9UH_V8')
	//- 	+movie-left-image('Bazodee', 'Cinemas', 'PG13', '#bazodeecinemas', 'bazodeecinemas','3a-wKnRx1Y0')
	//- 	+movie-left-image('Don’t Breathe', 'Cinemas', 'R', '#dontbreatecinemas', 'dontbreatecinemas','76yBTNDB6vU', '4D')
	//- 	+movie-left-image('Mechanic: Resurrection', 'Movies', 'R', '#mechaniccinemas', 'mechaniccinemas','G-P3f_wDXvs')
	//- 	+movie-left-image('War Dogs', 'Cinemas', 'R', '#dogscinemas', 'dogscinemas','Rwh9c_E3dJk')
	//- 	+movie-left-image('Suicide Squad', 'Cinemas', 'PG13', '#suicidesquadcinemas', 'suicidesquadcinemas','CmRih_VtVAs')
	//- 	+movie-left-image('Hands of Stone', 'Cinemas', 'R', '#stonecinemas', 'stonecinemas','cNzXeY9OBxI')
	//- 	+movie-left-image('Jason Bourne', 'Cinemas', 'PG13', '#jasonbournecinemas', 'jasonbournecinemas','F4gJsKZvqE4')
	//- 	+movie-left-image('Ben Hur', 'Cinemas', 'PG13', '#benhurcinemas', 'benhurcinemas','3BmeR9GYdDU', '4D')
	//- 	+movie-left-image('Bad Moms', 'Cinemas', 'PG13', '#badmomscinemas', 'badmomscinemas','iKCw-kqo3cs')
	//- +movie-left-image('Absolutely Fabulous: The Movie', 'Cinemas', 'R', '#fabulouscinemas', 'fabulouscinemas','F4gJsKZvqE4')
	//- +movie-left-image('The Secret Life of Pets', 'Movies', 'PG', '#petscinemas', 'petscinemas','eWI_Jsw9qUs')
	//- 	+movie-left-image('Ice Age: Collision Course', 'Cinemas', 'PG', '#iceagecinemas', 'iceagecinemas','Ohq6NmKMja8', '4D')
	//- 	+movie-left-image('The Legend of Tarzan', 'Cinemas', 'PG13', '#tarzancinemas', 'tarzancinemas','v5r6FrEgg5M')
	//- 	+movie-left-image('Star Trek Beyond', 'Cinemas', 'PG', '#startrekcinemas', 'startrekcinemas','XRVD32rnzOw')
	//- 	+movie-left-image('The Secret Life of Pets', 'Cinemas', 'PG', '#petscinemas', 'petscinemas','eWI_Jsw9qUs')
	//- 	+movie-left-image('The Infiltrator', 'Cinemas', 'R', '#theinfiltratorcinemas', 'theinfiltratorcinemas','N7_M4hjXW1I')
	//- 	+movie-left-image('Central Intelligence', 'Cinemas', 'PG13', '#cicinemas', 'cicinemas','MxEw3elSJ8M')
	//- 	+movie-left-image('Batman: The KilLing Joke', 'Cinemas', 'R', '#batmanjokercinemas', 'batmanjokercinemas','VeNi4PfNMqI')
	//- 		+movie-left-image('Finding Dory', 'Cinemas', 'PG13', '#dorycinemas', 'dorycinemas','KyA9AtUOqRM', '4D')
	//- 		+movie-left-image('Independence Day: Resurgence', 'Cinemas', 'PG13', '#id5cinemas', 'id5cinemas','RfJgT89hEME')
	//- 		+movie-left-image('The Shallows', 'Cinemas', 'PG13', '#shallowscinemas', 'shallowscinemas','EgdxIlSuB70')
	//- 		+movie-left-image('Now You See Me 2', 'Cinemas', 'PG13', '#nowyouseeme2cinemas', 'nowyouseeme2cinemas','InqU8CLwbPg')
	//- 		+movie-left-image('The Angry Birds Movie', 'Cinemas', 'PG', '#angrybirdscinemas', 'angrybirdscinemas','QRmKa7vvct4', '3D')
	//- 	+movie-left-image('Me Before You', 'Cinemas', 'PG13', '#mebeforeyoucinemas', 'mebeforeyoucinemas','vwiQCDpYzjE')
	//- 		+movie-left-image('Teenage Mutant Ninja Turtles: Out of the Shadows', 'Cinemas', 'PG13', '#tmntcinemas', 'tmntcinemas','3CKgLNGfdSM', '3D')
	//- 	+movie-left-image('I Am Wrath', 'Cinemas', 'R', '#T0MmkG_nG1U', 'iamwrathcinemas','vwiQCDpYzjE')
	//- 	+movie-left-image('Money Monster', 'Cinemas', 'PG13', '#moneymonstercinemas', 'moneymonstercinemas','va-0o_xBVnU')
	//- 	+movie-left-image('Warcraft', 'Cinemas', 'PG13', '#warcraftcinemas', 'warcraftcinemas','RhFMIRuHAL4', '4D')
	//- 	+movie-left-image('The Jungle Book', 'Cinemas', 'PG', '#junglebookcinemas', 'junglebookcinemas','5mkm22yO-bs', '4D')
	//- 	+movie-left-image('X-Men: Apocalypse', 'Cinemas', 'R', '#xmencinemas', 'xmencinemas','KjEusWO6VPg', '4D')
	//- 	+movie-left-image('Captain America: Civil War', 'Cinemas', 'PG13', '#captainamericacinemas', 'captainamericacinemas','uVdV-lxRPFo')
	//- +movie-left-image('Barbershop 2: The NExt Cut', 'Movies', 'PG', '#barbershopcinemas', 'barbershopcinemas','l2vPDGStL4k')
	//- +movie-left-image('Woezel & Pip op Zoek naar De Sloddervos', 'Cinemas', 'PG', '#woezelnpipcinemas', 'woezelnpipcinemas','Z55IMJO2NLk')
	//- 		+movie-left-image('The Huntsman: Winter’s War', 'Movies', 'PG', '#huntsmancinemas', 'huntsmancinemas','eAvCgVR0gIM')
	//- 		+movie-left-image('Mother’s Day', 'Cinemas', 'PG13', '#mothersdaycinemas', 'mothersdaycinemas','2BPr217zLps')
	//- 		+movie-left-image('Dirty Grandpa', 'Movies', 'R', '#dirtygranpacinemas', 'dirtygranpacinemas','aZSzMIFZT7Q')
	//- 	+movie-left-image('Batman Vs Superman: Dawn of Justice', 'Cinemas', 'PG13', '#batmansupermancinemas', 'batmansupermancinemas','BvP4RIqSbiw')
	//- 	+movie-left-image('London Has Fallen', 'Cinemas', 'R', '#londoncinemas', 'londoncinemas','q9y3z-lx-ZE')
	//- 		+movie-left-image('High Strung', 'Cinemas', 'PG', '#highstringcinemas', 'highstringcinemas','JctCSR1hSsw')
	//- 	+movie-left-image('My Big Fat Greek Wedding 2', 'Cinemas', 'PG13', '#greekweddingcinemas', 'greekweddingcinemas','JQ-1Ts3BChM')
	//- 	+movie-left-image('Miracles from Heaven', 'Cinemas', 'PG', '#miraclecinemas', 'miraclecinemas','CldGTG6iVrU')
	//- 	+movie-left-image('10 Cloverfield Lane', 'Cinemas', 'R', '#cloverfieldcinemas', 'cloverfieldcinemas','yQy-ANhnUpE')
	//- 	+movie-left-image('Eye In The Sky', 'Cinemas', 'R', '#eyeintheskycinemas', 'eyeintheskycinemas','hOqeoj669xg')
	//- 	+movie-left-image('The Divergent Series: Allegiant', 'Cinemas', 'R', '#divergentcinemas4d', 'divergentcinemas4d','0G0C-vMHcQY', '4D')
	//- 	+movie-left-image('Bon Bini Holland', 'Cinemas', 'PG-13', '#bonbinihollandcinemas', 'bonbinihollandcinemas','DcAfAYbgoEY')
	//- 	+movie-left-image('The Finest Hours', 'Cinemas', 'R', '#thefinesthourscinemas', 'thefinesthourscinemas','BQmllwTKtqU', '4D')
	//- 	+movie-left-image('Deadpool', 'Cinemas', 'R', '#deadpoolincinemas', 'deadpoolincinemas','9vN6DHB6bJc', '4D')
	//- 	+movie-left-image('Gods of Egypt', 'Cinemas', 'PG-13', '#godsofegyptcinemas', 'godsofegyptcinemas','LBCKed0pL5A', '3D')
	//- 		+movie-left-image('Eddie the Eagle', 'Cinemas', 'PG-13', '#eddietheeaglecinemas', 'eddietheeaglecinemas','6FWAiXll_jw')
	//- 	+movie-left-image('Kung Fu Panda 3', 'Cinemas', 'PG', '#kungfupandacinemas', 'kungfupandacinemas','10r9ozshGVE', '4D')
	//- 	+movie-left-image('How to be Single', 'Cinemas', 'R', '#singleincinemas', 'singleincinemas','RrDI4-BSovs')
	//- 	+movie-left-image('Regression', 'Cinemas', 'R', '#regressioncinemas', 'regressioncinemas','-pBwIsVGaL4')
	//- 	+movie-left-image('Jane Got a Gun', 'Cinemas', 'R', '#janegotaguncinemas', 'janegotaguncinemas','fm7qxI3gmpw')
	//- 	+movie-left-image('13 hours: The Secret Soldies of Benghazi', 'Movies', 'R', '#benghazicinemas', 'benghazicinemas','4CJBuUwd0Os')
	//- 	+movie-left-image('The 5th Wave', 'Cinemas', 'PG-13', '#5thwavecinemas', '5thwavecinemas','kmxLybfGNC4', '4D')
	//- 	+movie-left-image('Ride Along 2', 'Cinemas', 'PG', '#ridealong2cinemas', 'ridealong2cinemas','iWfmmwdCHTg')
	//- +movie-left-image('Daddy’s Home', 'Cinemas', 'PG', '#daddyshomecinemas', 'daddyshomecinemas','OeknNwE4e1E')
	//-		+movie-left-image('Point Break', 'Cinemas', 'PG-13', '#pointbreak2dcinemas', 'pointbreak2dcinemas','ncvFAm4kYCo')
	//-	+movie-left-image('Alvin & The Chimunks 4: The Road Chip 4d', 'Cinemas', 'PG', '#alvincinemas4d', 'alvincinemas4d','feZKVnHXwv0', '4D')
	//-		+movie-left-image('The Hateful Eight', 'Cinemas', 'PG', '#thehatefuleightcinemas', 'thehatefuleightcinemas','gnRbXn4-Yis')
	//-	+movie-left-image('Star Wars: Episode VII: The Force Awakens', 'Cinemas', 'PG-13', '#swep7cinemas', 'swep7cinemas','sGbxmsDFVnE', '4D')
	//-	+movie-left-image('Concussion', 'Cinemas', 'PG-13', '#concussioncinemas', 'concussioncinemas','Qk-1TLVUPZk')
	//-		+movie-left-image('Sisters', 'Cinemas', 'R', '#sisterscinemas', 'sisterscinemas','vRnhEjP3R-c')
	//-		+movie-left-image('The Big Short', 'Cinemas', 'R', '#bigshortcinemas', 'bigshortcinemas','LWr8hbUkG9s')
	//-		+movie-left-image('In The Heart of the Sea', 'Cinemas', 'PG-13', '#intheheartofthesea4dcinemas', 'intheheartofthesea4dcinemas','Xs-JfPjgiA4', '3D')
	//-		+movie-left-image('Alvin & The Chimunks 4: The Road Chip', 'Cinemas', 'PG', '#alvincinemas', 'alvincinemas','FbfHHdzwVOk')
	//-		+movie-left-image('Star Wars: Episode VII: The Force Awakens 3D', 'Cinemas', 'PG-13', '#swep7cinemas2', 'swep7cinemas2','sGbxmsDFVnE', '3D')
	//-		+movie-left-image('Keet &amp; Koen en de Speurtocht naar Bassie &amp; Adriaan', 'Cinemas', 'PG', '#keetkoencinemas', 'keetkoencinemas','FbfHHdzwVOk')
	//-		+movie-left-image('The Good Dinosaur', 'Cinemas', 'PG-13', '#gooddinocinemas', 'gooddinocinemas','O-RgquKVTPE', '3D')
	//-		+movie-left-image('Spectre', 'Cinemas', 'PG-13', '#spectrecinemas', 'spectrecinemas','z4UDNzXD3qA')
	//-		+movie-left-image('Creed', 'Cinemas', 'PG-13', '#creedcinemas', 'creedcinemas','Uv554B7YHk4')
	//-		+movie-left-image('Victor Frankenstein', 'Cinemas', 'PG-13', '#victorcinemas', 'victorcinemas','7pxZxY_Siyc')
	//- +movie-left-image('The Hunger Games: Mockingjay Pt. 2', 'Cinemas', 'PG-13', '#mockingjay-cinemas-2d', 'mockingjay-cinemas-2d','n-7K_OjsDCQ')
	//-	+movie-left-image('The Hunger Games: Mockingjay Pt. 2 3D', 'Cinemas', 'PG-13', '#mockingjay-cinemas', 'mockingjay-cinemas','n-7K_OjsDCQ', '3D')
	//-	+movie-left-image('The Hunger Games: Mockingjay Pt. 2 4D', 'Cinemas', 'PG-13', '#mockingjay-2cinemas', 'mockingjay-2cinemas','n-7K_OjsDCQ', '4D')
	//-	+movie-left-image('The 33', 'Cinemas', 'PG-13', '#33cinemas', '33cinemas','hOoIBOYqHyw')
	//- 	+movie-left-image('By The Sea', 'The Cinemas', 'R', '#by-the-sea-cinemas', 'by-the-sea-cinemas','y08gxV5tHUQ')
	//-		+movie-left-image('The Peanuts Movie 4D', 'The Cinemas', 'G', '#peanutscinemas4d', 'peanutscinemas4d','fVR4E6Q6u5g', '4D')
	//-		+movie-left-image('Scouts Guide to The Zombie Apocalypse', 'The Cinemas', 'R', '#scoutsguidecinemas', 'scoutsguidecinemas','Fi9gzWHwWcw')
	//-		+movie-left-image('Jurassic World 4D', 'The Cinemas', 'PG-13', '#jurassicworldcinemas', 'jurassicworldcinemas', 'RFinNxS5KN4', '4D')
	//-	+movie-left-image(title, venue, rating, panel_id, trailer_id, dimension)
	//- +movie-left-image('The Last Witch Hunter', 'The Cinemas', 'PG-13', '#lastwitchhuntercinemas', 'lastwitchhuntercinemas','Ky4sXEz520Y')
	//- +movie-left-image('Burnt', 'The Cinemas', 'R', '#burntcinemas', 'burntcinemas','s1G5E5Eo1wo')
	//- +movie-left-image('Paranormal Activity: The Ghost Dimension 4D', 'The Movies', 'R', '#ghostdimension3dmovies', 'ghostdimension3dmovies', 'Y9Jy2T0uQ9Y', '4D')
	//- +movie-left-image('Paranormal Activity: The Ghost Dimension 3D', 'The Movies', 'R', '#ghostdimension3dmovies', 'ghostdimension3dmovies', 'Y9Jy2T0uQ9Y', '3D')
	//-	+movie-left-image('Ant-Man 3D', 'The Cinemas', 'PG-13', '#antmancinemas', 'antmancinemas','IEVE3KSKQ0o', '3D')
	//- +movie-left-image('The Martian', 'The Cinemas', 'PG-13', 'Ue4PCI0NamI', '4D')
	//- +movie-left-image('The Martian', 'The Cinemas', 'PG-13', 'Ue4PCI0NamI', '3D')
	//- example
	//- +movie-left-image('Sicario', 'The Cinemas', 'R', 'sR0SDT2GeFg')
	//- +movie-left-image('The Intern', 'The Cinemas', 'PG-13', 'ZU3Xban0Y6A')
	//- +movie-left-image('Hotel Transylvania 2 3D', 'The Cinemas', 'PG-13', 'T3nqmGgnJe8', '3D')
	//- +movie-left-image('Hotel Transylvania 2 3D', 'The Cinemas', 'PG-13', 'T3nqmGgnJe8', '4D')
	//- +movie-left-image('Everest 3D', 'The Cinemas', 'PG-13', 'dOHS-mxn0RQ')
	//- +movie-left-image('Black Mass', 'The Cinemas', 'R', 'R_F-lVhSfx8')
	//- +movie-left-image('Mission Impossible: Rogue Nation', 'The Cinemas', 'PG-13', 'pXwaKB7YOjw')
	//- +movie-left-image('Ant-Man 3D', 'The Cinemas', 'PG-13', 'IEVE3KSKQ0o', '3D')
	//- +movie-left-image('Mission Impossible', 'The Cinemas', 'PG-13', 'pXwaKB7YOjw', '4D')
	//-	+movie-left-image('Trainwreck', 'The Cinemas', 'R', '2MxnhBPoIx4')
	//-	+movie-left-image('Jurassic World 4D', 'The Cinemas', 'PG-13', 'RFinNxS5KN4', '4D')
	//-	+movie-left-image('Terminator Genisys', 'The Cinemas', 'PG-13', 'CN__WyMfEKw')
	//-	+movie-left-image('Minions 4D', 'The Cinemas', 'PG', 'Wfql_DoHRKc', '4D')

	//- +movie-left-image('Jurassic World 4D', 'The Cinemas', 'PG-13', 'RFinNxS5KN4', '3D')
	//- +movie-left-image('Jurassic World 3D', 'The Cinemas', 'PG-13', 'RFinNxS5KN4', '3D')
	//- +movie-left-image('Jurassic World 2D', 'The Cinemas', 'PG-13', 'RFinNxS5KN4')
	//- +movie-left-image('Aloha', 'The Cinemas', 'PG-13', 'O3mf_ewjc7s')
	//- +movie-left-image('Entourage', 'The Cinemas', 'R', 'SGSE_XPF4_g')
	//- +movie-left-image('San Andreas 2D', 'The Cinemas', 'PG-13', '23VflsU3kZE')
	//- +movie-left-image('Hot Pursuit', 'The Cinemas', 'PG-13', 'fUeOBdxSjc8')
	//- +movie-left-image('Avengers: Age of Ultron 3D', 'The Cinemas', 'PG-13', 'JAUoeqvedMo')
	//- +movie-left-image('Furious 7', 'The Cinemas', 'PG-13', 'Skpu5HaVkOc')
	//- 	+movie-left-image('Fantastic Four', 'The Cinemas', 'PG-13', 'wuV4BCYv-YY')
	//- 	+movie-left-image('Shaun the Sheep', 'The Cinemas', 'PG-13', 'PetfCUlOJqs')
	//- 	+movie-left-image('Fantastic Four', 'The Cinemas', 'PG-13', 'wuV4BCYv-YY', '4D')
	//- 	+movie-left-image('Fantastic Four', 'The Cinemas', 'PG-13', 'wuV4BCYv-YY')
	//- 	+movie-left-image('Shaun the Sheep', 'The Cinemas', 'PG-13', 'PetfCUlOJqs')
	//- 	+movie-left-image('Fantastic Four', 'The Cinemas', 'PG-13', 'wuV4BCYv-YY', '4D')
section#cinemark-section.row.bottom-space(data-magellan-destination="cinemark-section")
	// movies callout
	.small-12.medium-12.large-12.callout.panel
		h3.text-center Now playing at
		<img class="displayed" src="assets/img/logos/cinemark-logo-40px.png" height="40" width="319" alt="Cinemark Curaçao">
		h2.text-center
			strong
				em Cinemark Curaçao
		h3.text-center Sambil Curacao Veeris Parke Comercial.<br><br>&#9742; +599 9 735 1375
	// end movies callout
	// if there is no movie info yet, please uncomment the following lines
	h2.days
			strong
				em Content being updated. Please check back soon!
	// add movies here
	//-	+movie-left-image('Creed (2D XD)', 'Cinemark', 'PG-13', '#creedcinemark', 'creedcinemark','Uv554B7YHk4')
	//-	+movie-left-image('Creed (2D)', 'Cinemark', 'PG-13', '#creed2dcinemark', 'creed2dcinemark','Uv554B7YHk4')
	//-	+movie-left-image('Criminal Activities', 'The Movies', 'R', '#criminalactmovies', 'criminalactmovies','wM6HGsEwFM8')
	//-	+movie-left-image('In The Heart of the Sea (2D)', 'Cinemark', 'PG-13', '#intheheartofthesea2dcinemark', 'intheheartofthesea2dcinemark','Uv554B7YHk4')
	//-	+movie-left-image('In The Heart of the Sea (3D DBOX)', 'Cinemark', 'PG-13', '#intheheartofthesea3ddboxcinemark', 'intheheartofthesea3ddboxcinemark','Uv554B7YHk4')
	//-	+movie-left-image('In The Heart of the Sea (3D XD)', 'Cinemark', 'PG-13', '#intheheartofthesea3dxdcinemark', 'intheheartofthesea3dxdcinemark','Uv554B7YHk4')
	//-	+movie-left-image('Ja, Ik Wil)', 'Cinemark', 'PG-13', '#jaikwilcinemark', 'jaikwilcinemark','MxDLzxsi-Fc')
	//-	+movie-left-image('Krampus (2D)', 'Cinemark', 'PG-13', '#krampus2dcinemark', 'krampus2dcinemark','h6cVyoMH4QE')
	//-	+movie-left-image('Spectre', 'Cinemark', 'PG-13', '#spectrecinemark', 'spectrecinemark','z4UDNzXD3qA')
	//-	+movie-left-image('Star Wars Episode VII (3D DBOX)', 'Cinemark', 'PG-13', '#swep7cinemark1', 'swep7cinemark1','sGbxmsDFVnE')
	//-	+movie-left-image('Star Wars Episode VII (3D XD)', 'Cinemark', 'PG-13', '#swep7cinemark2', 'swep7cinemark2','sGbxmsDFVnE')
	//-	+movie-left-image('Suffragette (2D)', 'Cinemark', 'PG-13', '#sufraggettecinemark', 'sufraggettecinemark','Uv554B7YHk4')
	//-	+movie-left-image('The Good Dinosaur', 'Cinemark', 'PG-13', '#gooddcinemark', 'gooddcinemark','O-RgquKVTPE')
	//-	+movie-left-image('The Night Before', 'Cinemark', 'PG-13', '#thenightbeforecinemark', 'thenightbeforecinemark','As1zja2shsA')
	//- 		+movie-left-image('Victor Frankenstein', 'Cinemark', 'PG-13', '#victorcinemark', 'victorcinemark','7pxZxY_Siyc')
	//- 	+movie-left-image('Bridge of Spies', 'Cinemark', 'PG-13', '#bridgeofspiescinemarkrampusk', 'bridgeofspiescinemark','2-2x3r1m2I4')
	//-	+movie-left-image('By The Sea', 'Cinemark', 'R', '#by-the-sea-cinemas', 'by-the-sea-cinemas','y08gxV5tHUQ')
	//-	+movie-left-image('Goosebumps', 'Cinemark', 'PG-13', '#goosebumpscinemark2d', 'goosebumpscinemark2d', '7Cn716jv61s')
	//-	+movie-left-image('Hotel Transylvania 2 3D', 'Cinemark', 'PG-13', '#transylvaniacinemark', 'transylvaniacinemark', 'T3nqmGgnJe8', '3D')
	//- 	+movie-left-image('Knock Knock', 'Cinemark', 'R', '#knockknockcinemark', 'knockknockcinemark', 'ti6S3NZ5mKI')
	//- 	+movie-left-image('The Matrix', 'Cinemark', 'R', '#matrixsambil', 'matrixsambil','m8e-FF8MsqU')
	//- 	+movie-left-image('Paranormal Activity: The Ghost Dimension', 'Cinemark', 'R', '#ghostdimension3dcinemarkdbox', 'ghostdimension3dcinemarkdbox', 'Y9Jy2T0uQ9Y')
	//-	+movie-left-image('Jaws', 'Cinemark', 'PG', '#jawscinemark', 'jawscinemark','U1fu_sA7XhE')
	//-	+movie-left-image('Our Brand is Crisis', 'Cinemark', 'R', '#our-brand-is-crisis-movies', 'our-brand-is-crisis-movies','BLZo_ILZhfk')
	//-	+movie-left-image('Paranormal Activity: The Ghost Dimension (3D)', 'Cinemark', 'R', '#ghostdimension3dcinemark', 'ghostdimension3dcinemark', 'Y9Jy2T0uQ9Y', '3D')
	//- 	+movie-left-image('Scouts Guide to The Zombie Apocalypse (2D DBOX)', 'Cinemark', 'R', '#scoutsguidecinemarkdbox', 'scoutsguidecinemarkdbox','Fi9gzWHwWcw')
	//- 	+movie-left-image('Scouts Guide to The Zombie Apocalypse (2D XD)', 'Cinemark', 'R', '#scoutsguidecinemark', 'scoutsguidecinemark','Fi9gzWHwWcw')
	//-	+movie-left-image('Spectre (XD)', 'Cinemark', 'PG-13', '#spectrecinemarkxd', 'spectrecinemarkxd','z4UDNzXD3qA')
	//-	+movie-left-image('Spectre', 'Cinemark', 'PG-13', '#spectrecinemark', 'spectrecinemark','z4UDNzXD3qA')
	//-	+movie-left-image('The Last Witch Hunter (DBOX)', 'Cinemark', 'PG-13', '#lastwitchhuntercinemarkxd', 'lastwitchhuntercinemarkxd','Ky4sXEz520Y')
	//- 	+movie-left-image('The Last Witch Hunter', 'Cinemark', 'PG-13', '#lastwitchhuntercinemark', 'lastwitchhuntercinemark','Ky4sXEz520Y')
	//-	+movie-left-image('The Peanuts Movie', 'Cinemark', 'G', '#peanutscinemark', 'peanutscinemark','fVR4E6Q6u5g')
	//- 	+movie-left-image('The Peanuts Movie 3D', 'Cinemark', 'G', '#peanutscinemark3d', 'peanutscinemark3d','fVR4E6Q6u5g', '3D')
	//-	+movie-left-image('Crimson Peak XD', 'Cinemark', 'PG-13', '#crimsonpeakxdcinemark', 'crimsonpeakxdcinemark','oquZifON8Eg')
	//-	+movie-left-image('Goosebumps', 'Cinemark', 'PG-13', '#goosebumpscinemark', 'goosebumpscinemark', '7Cn716jv61s', '3D')
	//-	+movie-left-image('Pan', 'Cinemark', 'PG', '#pancinemark', 'pancinemark', 'tjW1mKwNUSo')
	//-	+movie-left-image('Indiana Jones and the Raiders of the Lost Ark', 'Cinemark', 'PG', '#raiderscinemark', 'raiderscinemark','XkkzKHCx154')
	//-	+movie-left-image(title, venue, rating, panel_id, trailer_id, dimension)
	//- +movie-left-image('Amy', 'Cinemark', 'R', '#amycinemark', 'amycinemark', 'Za3lZcrzzcM')
	//- +movie-left-image('Back to the Future', 'Cinemark', 'PG', '#backtothefuturecinemrk', 'backtothefuturecinemrk', 'yosuvf7Unmg')
	//- +movie-left-image('Back to the Future II', 'Cinemark', 'PG', '#backtothefuture2cinemrk', 'backtothefuture2cinemrk', 'rRrSp6Pqlz4')
	//- +movie-left-image('Back to the Future III', 'Cinemark', 'PG', '#backtothefuture3cinemrk', 'backtothefuture3cinemrk', 'UQXOx2lYnA4')
	//- +movie-left-image('Bram Stoker\'s Dracula', 'Cinemark', 'PG', '#draculacinemrk', 'draculacinemrk', 'PlDbxogHPao')
	//- +movie-left-image('Bridge of Spies', 'Cinemark', 'PG-13', '#bridgeofspiescinemark', 'bridgeofspiescinemark','2-2x3r1m2I4')
	//- +movie-left-image('Crimson Peak', 'Cinemark', 'PG-13', '#crimsonpeakcinemark', 'crimsonpeakcinemark','oquZifON8Eg')
	//- +movie-left-image('Crimson Peak XD', 'Cinemark', 'PG-13', '#crimsonpeakxdcinemark', 'crimsonpeakxdcinemark','oquZifON8Eg')
	//- +movie-left-image('Crimson Peak 2D XD', 'Cinemark', 'PG-13', '#crimsonpeak2dxdcinemark', 'crimsonpeak2dxdcinemark','oquZifON8Eg')
	//- +movie-left-image('Goosebumps', 'Cinemark', 'PG-13', '#goosebumpscinemark', 'goosebumpscinemark', '7Cn716jv61s', '3D')
	//- +movie-left-image('Hotel Transylvania 2 3D', 'Cinemark', 'PG-13', '#transylvaniacinemark', 'transylvaniacinemark', 'T3nqmGgnJe8', '3D')
	//- +movie-left-image('Knock Knock', 'Cinemark', 'R', '#knockknockcinemark', 'knockknockcinemark', 'ti6S3NZ5mKI')
	//- +movie-left-image('Pan', 'Cinemark', 'PG', '#pancinemark', 'pancinemark', 'tjW1mKwNUSo')
	//- +movie-left-image('The Walk 3D', 'Cinemark', 'PG', '#thewalkcinemark', 'thewalkcinemark', 'rBicCZG4vg0', '3D')
	//- +movie-left-image('War Room', 'The Movies', 'PG', 'mIl-XY9t_Lw')
	//- +movie-left-image('The Martian', 'The Movies', 'PG-13', 'Ue4PCI0NamI')
	//- +movie-left-image('De Sneeuw Koningin 2', 'The Movies', 'PG', 'tQvsSFLE5Ug')
	//- +movie-left-image('Sicario', 'The Movies', 'R', 'sR0SDT2GeFg')
	//- +movie-left-image('Hotel Transylvania 2 3D', 'The Movies', 'PG-13', 'T3nqmGgnJe8', '3D')
	//- +movie-left-image('Maze Runner: The Scorch Trials', 'The Movies', 'PG-13', '64-iSYVmMVY')
	//- +movie-left-image('The Visit', 'The Movies', 'PG-13', 'YfQnRjkuvaY')
	//- +movie-left-image('Ant-Man 3D', 'The Movies', 'PG-13', 'IEVE3KSKQ0o', '3D')
	//- +movie-left-image('Sinister 2', 'The Movies', 'R', 'fChx_YZUAR0')
	//- +movie-left-image('No Escape', 'The Movies', 'R', 'DOjj07EuO50')
	//- 	+movie-left-image('Fantastic Four', 'The Movies', 'PG-13', 'wuV4BCYv-YY')
	//- 	+movie-left-image('Dark Places', 'The Movies', 'R', 'SpG5dWV7piw')