mixin footer
	footer.footer.text-center
						.row.full-width
							.small-12.medium-4.large-6.columns
								h4 About K-Pasa
								p.text-left K-pasa Curaçao is a weekly cultural-event-guide and has been published on Curaçao since 1997. Every week since, it has shown a weekly overview of things to do on the Island. We never missed a week! K-pasa is a handy overview of dining, entertainment, parties, happy hours and the newest movies of the week. The cultural agenda is popular with tourists and locals.
								p © Fresh Media Curaçao, all rights reserved.
							.small-6.medium-4.large-3.columns
								h4 Additional Links
								ul.footer-links.text-center
									li <a href="contact-us.html">Contact Us</a>
									li <a href="jobs.html">Jobs</a>
									li <a href="contact-us.html">Feedback</a>
									li <a href="http://www.freshmediacuracao.com/k-pasa.html" target="blank">Advertise!</a>
							.small-6.medium-4.large-3.columns
								h4 Social Media
								ul.footer-links
									li <a href="https://www.facebook.com/kpasacuracao"><i class="fi-social-facebook"></i></a>
									li <a href="https://twitter.com/kpasacuracao/"><i class="fi-social-twitter"></i></a>