mixin layout(keywords)
	case keywords
		when "Art & Culture"
			section.row.bottom-space.padded-content
				.small-12.medium-12.large-12.padded-content.columns
					.callout.panel.pagetitle
						h1 Activities
						// insert content here. cut numbers from id's. also add data-magellan-destination="id" to every day when "Art & Culture"
		when "Aqua"
			section.row.bottom-space
				.small-12.medium-12.large-12.padded-content.columns
					.callout.panel.pagetitle
						h1 Activities
						// insert content here. cut numbers from id's. also add data-magellan-destination="id" to every day
		when "Beach Life"
			section.row.bottom-space.padded-content
				.small-12.medium-12.large-12.padded-content.columns
					.callout.panel.pagetitle
						h1 Activities
						// insert content here. cut numbers from id's. also add data-magellan-destination="id" to every day when "Beach Life"
		when "Boating"
			section.row.bottom-space.padded-content
				.small-12.medium-12.large-12.padded-content.columns
					.callout.panel.pagetitle
						h1 Activities
						// insert content here. cut numbers from id's. also add data-magellan-destination="id" to every day when "Boating"
		when "Diving"
			section.row.bottom-space.padded-content
				.small-12.medium-12.large-12.padded-content.columns
					.callout.panel.pagetitle
						h1 Activities
						// insert content here. cut numbers from id's. also add data-magellan-destination="id" to every day when "Diving"
		when "Kids Corner"
			section.row.bottom-space.padded-content
				.small-12.medium-12.large-12.padded-content.columns
					.callout.panel.pagetitle
						h1 Activities
						// insert content here. cut numbers from id's. also add data-magellan-destination="id" to every day when "Kids Corner"
		when "Outdoors"
			section.row.bottom-space.padded-content
				.small-12.medium-12.large-12.padded-content.columns
					.callout.panel.pagetitle
						h1 Activities
						// insert content here. cut numbers from id's. also add data-magellan-destination="id" to every day when "Outdoors"
		when "Ship Ahoy"
			section.row.bottom-space.padded-content
				.small-12.medium-12.large-12.padded-content.columns
					.callout.panel.pagetitle
						h1 Activities
						// insert content here. cut numbers from id's. also add data-magellan-destination="id" to every day when "Ship Ahoy"
		when "Sports"
			section.row.bottom-space.padded-content
				.small-12.medium-12.large-12.padded-content.columns
					.callout.panel.pagetitle
						h1 Activities
						// insert content here. cut numbers from id's. also add data-magellan-destination="id" to every day when "Sports"
		when "Upcoming"
			section.row.bottom-space.padded-content
				.small-12.medium-12.large-12.padded-content.columns
					.callout.panel.pagetitle
						h1 Activities
						// insert content here. cut numbers from id's. also add data-magellan-destination="id" to every day when "Upcoming"
		when "Dining & Entertainment Thursday"
			section.row.bottom-space.padded-content
				.small-12.medium-12.large-12.padded-content.columns
					.callout.panel.pagetitle
						h1 Dining &amp; Entertainment
						// insert content here. cut numbers from id's. also add data-magellan-destination="id" to every daywhen "Dining & Entertainment Thursday"
		when "Dining & Entertainment Friday"
			section.row.bottom-space
				.small-12.medium-12.large-12.padded-content.columns
					.callout.panel.pagetitle
						h1 Dining &amp; Entertainment
						// insert content here. cut numbers from id's. also add data-magellan-destination="id" to every day when "Dining & Entertainment Friday"
		when "Dining & Entertainment Saturday"
			section.row.bottom-space
				.small-12.medium-12.large-12.padded-content.columns
					.callout.panel.pagetitle
						h1 Dining &amp; Entertainment
						// insert content here. cut numbers from id's. also add data-magellan-destination="id" to every day when "Dining & Entertainment Saturday"
		when "Dining & Entertainment Sunday"
			section.row.bottom-space
				.small-12.medium-12.large-12.padded-content.columns
					.callout.panel.pagetitle
						h1 Dining &amp; Entertainment
						// insert content here. cut numbers from id's. also add data-magellan-destination="id" to every day when "Dining & Entertainment Sunday"
		when "Dining & Entertainment Monday"
			section.row.bottom-space
				.small-12.medium-12.large-12.padded-content.columns
					.callout.panel.pagetitle
						h1 Dining &amp; Entertainment
						// insert content here. cut numbers from id's. also add data-magellan-destination="id" to every day when "Dining & Entertainment Monday"
		when "Dining & Entertainment Tuesday"
			section.row.bottom-space
				.small-12.medium-12.large-12.padded-content.columns
					.callout.panel.pagetitle
						h1 Dining &amp; Entertainment
						// insert content here. cut numbers from id's. also add data-magellan-destination="id" to every day when "Dining & Entertainment Tuesday"
		when "Dining & Entertainment Wednesday"
			section.row.bottom-space
				.small-12.medium-12.large-12.padded-content.columns
					.callout.panel.pagetitle
						h1 Dining &amp; Entertainment
						// insert content here. cut numbers from id's. also add data-magellan-destination="id" to every day when "Dining & Entertainment Wednesday"
		when "Happy Hours"
			section.row.bottom-space
				.small-12.medium-12.large-12.padded-content.columns
					.callout.panel.pagetitle
						h1 Happy Hours
						// insert content here. cut numbers from id's. also add data-magellan-destination="id" to every day when "Happy Hours"
		when "Films"
			// uncomment the films.jade include. Any edits, add to films.jade file
		default
			p Please check syntax! #{description} in layout mixin is incorrect; please input proper sentence case with spaces!

