mixin magellan(keywords)
	case keywords
		when "Aqua"
			div.hide-for-medium-up(data-magellan-expedition='fixed')
				dl.sub-nav
					dd(data-magellan-arrival='thursday')
						a(href='#thursday') Thu
					dd(data-magellan-arrival='friday')
						a(href='#friday') Fri
					dd(data-magellan-arrival='saturday')
						a(href='#saturday') Sat
					dd(data-magellan-arrival='sunday')
						a(href='#sunday') Sun
					dd(data-magellan-arrival='monday')
						a(href='#monday') Mon
					dd(data-magellan-arrival='tuesday')
						a(href='#tuesday') Tue
					dd(data-magellan-arrival='wednesday')
						a(href='#wednesday') Wed
					dd(data-magellan-arrival='top')
						a(href='#top') Top
		when "Art & Culture"
			div.hide-for-medium-up(data-magellan-expedition='fixed')
				dl.sub-nav
					dd(data-magellan-arrival='thursday')
						a(href='#thursday') Thu
					dd(data-magellan-arrival='friday')
						a(href='#friday') Fri
					dd(data-magellan-arrival='saturday')
						a(href='#saturday') Sat
					dd(data-magellan-arrival='sunday')
						a(href='#sunday') Sun
					dd(data-magellan-arrival='monday')
						a(href='#monday') Mon
					dd(data-magellan-arrival='tuesday')
						a(href='#tuesday') Tue
					dd(data-magellan-arrival='wednesday')
						a(href='#wednesday') Wed
					dd(data-magellan-arrival='top')
						a(href='#top') Top
		when "Boating"
			div.hide-for-medium-up(data-magellan-expedition='fixed')
				dl.sub-nav
					dd(data-magellan-arrival='thursday')
						a(href='#thursday') Thu
					dd(data-magellan-arrival='friday')
						a(href='#friday') Fri
					dd(data-magellan-arrival='saturday')
						a(href='#saturday') Sat
					dd(data-magellan-arrival='sunday')
						a(href='#sunday') Sun
					dd(data-magellan-arrival='monday')
						a(href='#monday') Mon
					dd(data-magellan-arrival='tuesday')
						a(href='#tuesday') Tue
					dd(data-magellan-arrival='wednesday')
						a(href='#wednesday') Wed
					dd(data-magellan-arrival='top')
						a(href='#top') Top
		when "Diving"
			div.hide-for-medium-up(data-magellan-expedition='fixed')
				dl.sub-nav
					dd(data-magellan-arrival='thursday')
						a(href='#thursday') Thu
					dd(data-magellan-arrival='friday')
						a(href='#friday') Fri
					dd(data-magellan-arrival='saturday')
						a(href='#saturday') Sat
					dd(data-magellan-arrival='sunday')
						a(href='#sunday') Sun
					dd(data-magellan-arrival='monday')
						a(href='#monday') Mon
					dd(data-magellan-arrival='tuesday')
						a(href='#tuesday') Tue
					dd(data-magellan-arrival='wednesday')
						a(href='#wednesday') Wed
					dd(data-magellan-arrival='top')
						a(href='#top') Top
		when "Kids Corner"
			div.hide-for-medium-up(data-magellan-expedition='fixed')
				dl.sub-nav
					dd(data-magellan-arrival='thursday')
						a(href='#thursday') Thu
					dd(data-magellan-arrival='friday')
						a(href='#friday') Fri
					dd(data-magellan-arrival='saturday')
						a(href='#saturday') Sat
					dd(data-magellan-arrival='sunday')
						a(href='#sunday') Sun
					dd(data-magellan-arrival='monday')
						a(href='#monday') Mon
					dd(data-magellan-arrival='tuesday')
						a(href='#tuesday') Tue
					dd(data-magellan-arrival='wednesday')
						a(href='#wednesday') Wed
					dd(data-magellan-arrival='top')
						a(href='#top') Top
		when "Outdoors"
			div.hide-for-medium-up(data-magellan-expedition='fixed')
				dl.sub-nav
					dd(data-magellan-arrival='thursday')
						a(href='#thursday') Thu
					dd(data-magellan-arrival='friday')
						a(href='#friday') Fri
					dd(data-magellan-arrival='saturday')
						a(href='#saturday') Sat
					dd(data-magellan-arrival='sunday')
						a(href='#sunday') Sun
					dd(data-magellan-arrival='monday')
						a(href='#monday') Mon
					dd(data-magellan-arrival='tuesday')
						a(href='#tuesday') Tue
					dd(data-magellan-arrival='wednesday')
						a(href='#wednesday') Wed
					dd(data-magellan-arrival='top')
						a(href='#top') Top
		when "Sports"
			div.hide-for-medium-up(data-magellan-expedition='fixed')
				dl.sub-nav
					dd(data-magellan-arrival='thursday')
						a(href='#thursday') Thu
					dd(data-magellan-arrival='friday')
						a(href='#friday') Fri
					dd(data-magellan-arrival='saturday')
						a(href='#saturday') Sat
					dd(data-magellan-arrival='sunday')
						a(href='#sunday') Sun
					dd(data-magellan-arrival='monday')
						a(href='#monday') Mon
					dd(data-magellan-arrival='tuesday')
						a(href='#tuesday') Tue
					dd(data-magellan-arrival='wednesday')
						a(href='#wednesday') Wed
					dd(data-magellan-arrival='top')
						a(href='#top') Top
		when "Dining & Entertainment Thursday"
			div.hide-for-medium-up(data-magellan-expedition='fixed')
				dl.sub-nav
					dd(data-magellan-arrival='dining')
						a(href='#dining') Dining
					dd(data-magellan-arrival='entertainment')
						a(href='#entertainment') Entertainment
					dd(data-magellan-arrival='top')
						a(href='#top') Top
		when "Dining & Entertainment Friday"
			div.hide-for-medium-up(data-magellan-expedition='fixed')
				dl.sub-nav
					dd(data-magellan-arrival='dining')
						a(href='#dining') Dining
					dd(data-magellan-arrival='entertainment')
						a(href='#entertainment') Entertainment
					dd(data-magellan-arrival='top')
						a(href='#top') Top
		when "Dining & Entertainment Saturday"
			div.hide-for-medium-up(data-magellan-expedition='fixed')
				dl.sub-nav
					dd(data-magellan-arrival='dining')
						a(href='#dining') Dining
					dd(data-magellan-arrival='entertainment')
						a(href='#entertainment') Entertainment
					dd(data-magellan-arrival='top')
						a(href='#top') Top		
		when "Dining & Entertainment Sunday"
			div.hide-for-medium-up(data-magellan-expedition='fixed')
				dl.sub-nav
					dd(data-magellan-arrival='dining')
						a(href='#dining') Dining
					dd(data-magellan-arrival='entertainment')
						a(href='#entertainment') Entertainment
					dd(data-magellan-arrival='top')
						a(href='#top') Top		
		when "Dining & Entertainment Monday"
			div.hide-for-medium-up(data-magellan-expedition='fixed')
				dl.sub-nav
					dd(data-magellan-arrival='dining')
						a(href='#dining') Dining
					dd(data-magellan-arrival='entertainment')
						a(href='#entertainment') Entertainment
					dd(data-magellan-arrival='top')
						a(href='#top') Top		
		when "Dining & Entertainment Tuesday"
			div.hide-for-medium-up(data-magellan-expedition='fixed')
				dl.sub-nav
					dd(data-magellan-arrival='dining')
						a(href='#dining') Dining
					dd(data-magellan-arrival='entertainment')
						a(href='#entertainment') Entertainment
					dd(data-magellan-arrival='top')
						a(href='#top') Top		
		when "Dining & Entertainment Wednesday"
			div.hide-for-medium-up(data-magellan-expedition='fixed')
				dl.sub-nav
					dd(data-magellan-arrival='dining')
						a(href='#dining') Dining
					dd(data-magellan-arrival='entertainment')
						a(href='#entertainment') Entertainment
					dd(data-magellan-arrival='top')
						a(href='#top') Top		
		when "Happy Hours"
			div.hide-for-medium-up(data-magellan-expedition='fixed')
				dl.sub-nav
					dd(data-magellan-arrival='thursday')
						a(href='#thursday') Thu
					dd(data-magellan-arrival='friday')
						a(href='#friday') Fri
					dd(data-magellan-arrival='saturday')
						a(href='#saturday') Sat
					dd(data-magellan-arrival='sunday')
						a(href='#sunday') Sun
					dd(data-magellan-arrival='monday')
						a(href='#monday') Mon
					dd(data-magellan-arrival='tuesday')
						a(href='#tuesday') Tue
					dd(data-magellan-arrival='wednesday')
						a(href='#wednesday') Wed
					dd(data-magellan-arrival='top')
						a(href='#top') Top		
		when "Films"
			div.hide-for-medium-up(data-magellan-expedition='fixed')
				dl.sub-nav
					dd(data-magellan-arrival='the-movies-section')
						a(href='#the-movies-section') Movies
					dd(data-magellan-arrival='the-cinemas-section')
						a(href='#the-cinemas-section') Cinemas
					dd(data-magellan-arrival='cinemark-section')
						a(href='#cinemark-section') Cinemark
					dd(data-magellan-arrival='top')
						a(href='#top') Top		
		default
			// No magellan sub nav on this page.		

