mixin keywords(keywords)
	case keywords 
		when "Aqua"
			meta(name="keywords" content="k-pasa, curaçao, this week, what's happening, activities, aqua, underwater, sea, blue waters, tropical, island, beautiful")
		when "Art & Culture"
			meta(name="keywords" content="k-pasa, curaçao, this week, what's happening, activities, diving, underwater, sea, blue waters, tropical, island, beautiful, art, culture, cultural, express, exhibit, exhibition, theatre, play")
		when "Beach Life"
			meta(name="keywords" content="k-pasa, curaçao, this week, what's happening, activities, beach, beaches, swimming, leisure, underwater, snorkeling, yoga, beach, azure, sea, blue waters, tropical, island, beautiful")
		when "Boating"
			meta(name="keywords" content="k-pasa, curaçao, this week, what's happening, activities, boating, sailing, wind, motorboating, above water, swimming, sea, blue waters, tropical, island, beautiful")
		when "Diving"
			meta(name="keywords" content="k-pasa, curaçao, this week, what's happening, activities, diving, underwater, sea, blue waters, tropical, island, beautiful")
		when "Kids Corner"
			meta(name="keywords" content="k-pasa, curaçao, this week, what's happening, activities, kids, kids corner, corner, party, parties, sport, dance, blue waters, tropical, island, beautiful")
		when "Outdoors"
			meta(name="keywords" content="k-pasa, curaçao, this week, what's happening, activities, outdoors, atv, drive, moving, nature, flora, fauna, forest, mountain, mountains, underwater, sea, blue waters, tropical, island, beautiful")
		when "Ship Ahoy"
			meta(name="keywords" content="k-pasa, Curaçao, this week, what's happening, activities, cruise, ship, terminal, berth, underwater, sea, blue waters, tropical, island, beautiful")
		when "Sports"
			meta(name="keywords" content="k-pasa, curaçao, this week, what's happening, activities, sports, basketball, soccer, football, volleyball, yoga, taekwondo, karate, kung-fu, dance, fit, lose weight, move, underwater, sea, blue waters, tropical, island, beautiful")
		when "Upcoming"
			meta(name="keywords" content="k-pasa, curaçao, this week, what's happening, activities, upcoming, dance, festival, popular, concert, tropical, island, beautiful")
		when "Dining & Entertainment Thursday"
			meta(name="keywords" content="k-pasa, curaçao, this week, what's happening, activities, dining, entertainment, fine, active, dance, artist, concert, live, grill, bbq, food, tropical, island, beautiful")
		when "Dining & Entertainment Friday"
			meta(name="keywords" content="k-pasa, curaçao, this week, what's happening, activities, dining, entertainment, fine, active, dance, artist, concert, live, grill, bbq, food, tropical, island, beautiful")
		when "Dining & Entertainment Saturday"
			meta(name="keywords" content="k-pasa, curaçao, this week, what's happening, activities, dining, entertainment, fine, active, dance, artist, concert, live, grill, bbq, food, tropical, island, beautiful")
		when "Dining & Entertainment Sunday"
			meta(name="keywords" content="k-pasa, curaçao, this week, what's happening, activities, dining, entertainment, fine, active, dance, artist, concert, live, grill, bbq, food, tropical, island, beautiful")
		when "Dining & Entertainment Monday"
			meta(name="keywords" content="k-pasa, curaçao, this week, what's happening, activities, dining, entertainment, fine, active, dance, artist, concert, live, grill, bbq, food, tropical, island, beautiful")
		when "Dining & Entertainment Tuesday"
			meta(name="keywords" content="k-pasa, curaçao, this week, what's happening, activities, dining, entertainment, fine, active, dance, artist, concert, live, grill, bbq, food, tropical, island, beautiful")
		when "Dining & Entertainment Wednesday"
			meta(name="keywords" content="k-pasa, curaçao, this week, what's happening, activities, dining, entertainment, fine, active, dance, artist, concert, live, grill, bbq, food, tropical, island, beautiful")
		when "Happy Hours"
			meta(name="keywords" content="k-pasa, curaçao, this week, what's happening, happy hour, happy hours, happy, hour, hours, dining, entertainment, fine, active, dance, artist, concert, live, grill, bbq, food, cheap, two for one, deal, deals, tropical, island, beautiful")
		when "Films"
			meta(name="keywords" content="k-pasa, curaçao, this week, what's happening, the movies, the cinemas, movies, cinemas, now playing, premiere, premieres, running time, rating, mpaa, 3d, tropical, island, beautiful")
		default
			p Please check syntax! #{description} in meta mixin is incorrect; please input proper sentence case with spaces!

mixin description(description)
	case description
		when "Aqua"
			meta(name="description" content="K-pasa Curaçao, the best at what we do since 1997! We provide the best & most accurate information about what’s k-pasa (happening) this week on the beautiful island of Curaçao. Find out all about this week's Aquatic Activities, such as snorkel trips and more, right here!")
		when "Art & Culture"
			meta(name="description" content="K-pasa Curaçao, the best at what we do since 1997! We provide the best & most accurate information about what’s k-pasa (happening) this week on the beautiful island of Curaçao. Information about artistic & cultural events, such as museum visits, art expositions, theatric plays and more, can be found on this page.")
		when "Beach Life"
			meta(name="description" content="K-pasa Curaçao, the best at what we do since 1997! We provide the best & most accurate information about what’s k-pasa (happening) this week on the beautiful island of Curaçao. Wondering what's going on at the beaches? Find out here!")
		when "Boating"
			meta(name="description" content="K-pasa Curaçao, the best at what we do since 1997! We provide the best & most accurate information about what’s k-pasa (happening) this week on the beautiful island of Curaçao. If you want to trip the idyllic waters of this island, look no further than here for a myriad of ways to do so.")
		when "Diving"
			meta(name="description" content="K-pasa Curaçao, the best at what we do since 1997! We provide the best & most accurate information about what’s k-pasa (happening) this week on the beautiful island of Curaçao. there is life underwater. Find out all about it here!")
		when "Kids Corner"
			meta(name="description" content="K-pasa Curaçao, the best at what we do since 1997! We provide the best & most accurate information about what’s k-pasa (happening) this week on the beautiful island of Curaçao. Find out all about this week's Kids' Activities right here!")
		when "Outdoors"
			meta(name="description" content="K-pasa Curaçao, the best at what we do since 1997! We provide the best & most accurate information about what’s k-pasa (happening) this week on the beautiful island of Curaçao. Live outside the box or go into the wildernis, all about outdoor life find it here!")
		when "Ship Ahoy"
			meta(name="description" content="K-pasa Curaçao, the best at what we do since 1997! We provide the best & most accurate information about what’s k-pasa (happening) this week on the beautiful island of Curaçao. This week's cruise ship berths are found here")
		when "Sports"
			meta(name="description" content="K-pasa Curaçao, the best at what we do since 1997! We provide the best & most accurate information about what’s k-pasa (happening) this week on the beautiful island of Curaçao. Hiyaaa! Take your body to the limit with the info in these pages!")
		when "Upcoming"
			meta(name="description" content="K-pasa Curaçao, the best at what we do since 1997! We provide the best & most accurate information about what’s k-pasa (happening) this week on the beautiful island of Curaçao. Wondering what activities will happen in the near future? Take a look right here!")
		when "Dining & Entertainment Thursday"
			meta(name="description" content="K-pasa Curaçao, the best at what we do since 1997! We provide the best & most accurate information about what’s k-pasa (happening) this week on the beautiful island of Curaçao. If you want to go out dining, you will find the best info about where to do so here.")
		when "Dining & Entertainment Friday"
			meta(name="description" content="K-pasa Curaçao, the best at what we do since 1997! We provide the best & most accurate information about what’s k-pasa (happening) this week on the beautiful island of Curaçao. If you want to go out dining, you will find the best info about where to do so here.")
		when "Dining & Entertainment Saturday"
			meta(name="description" content="K-pasa Curaçao, the best at what we do since 1997! We provide the best & most accurate information about what’s k-pasa (happening) this week on the beautiful island of Curaçao. If you want to go out dining, you will find the best info about where to do so here.")
		when "Dining & Entertainment Sunday"
			meta(name="description" content="K-pasa Curaçao, the best at what we do since 1997! We provide the best & most accurate information about what’s k-pasa (happening) this week on the beautiful island of Curaçao. If you want to go out dining, you will find the best info about where to do so here.")
		when "Dining & Entertainment Monday"
			meta(name="description" content="K-pasa Curaçao, the best at what we do since 1997! We provide the best & most accurate information about what’s k-pasa (happening) this week on the beautiful island of Curaçao. If you want to go out dining, you will find the best info about where to do so here.")
		when "Dining & Entertainment Tuesday"
			meta(name="description" content="K-pasa Curaçao, the best at what we do since 1997! We provide the best & most accurate information about what’s k-pasa (happening) this week on the beautiful island of Curaçao. If you want to go out dining, you will find the best info about where to do so here.")
		when "Dining & Entertainment Wednesday"
			meta(name="description" content="K-pasa Curaçao, the best at what we do since 1997! We provide the best & most accurate information about what’s k-pasa (happening) this week on the beautiful island of Curaçao. If you want to go out dining, you will find the best info about where to do so here.")
		when "Happy Hours"
			meta(name="description" content="K-pasa Curaçao, the best at what we do since 1997! We provide the best & most accurate information about what’s k-pasa (happening) this week on the beautiful island of Curaçao. Cheap drinks and food. Who does not like these things? Find out information about these here.")
		when "Films"
			meta(name="description" content="K-pasa Curaçao, the best at what we do since 1997! We provide the best & most accurate information about what’s k-pasa (happening) this week on the beautiful island of Curaçao. Here you will find all the movie playing times of the major cinemas on Curaçao.")
		default
			p Please check syntax! <strong>"#{description}"</strong> in meta mixin is incorrect; please input proper sentence case with spaces!

mixin creator
	meta(name="created-by" content="LuX0R Creative Consultancy Curaçao. 2015 All Rights Reserved.")
